.canvMain {
    width: 100%;
    height: calc(100% - 440px);

    color: black;

    /*background-color: red;*/

    /*position: fixed;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*border-radius: 10px;*/
    /*z-index: 1000;*/
}

body {
    height: 100vh;
    padding: 0;
}
