.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-nav-img {
  border-radius: 100%;
  width: 50px;
  height: 50px;

  margin-left: 30px;
}

.my-card {

  background-color: rgba(200, 200, 200, 0.8);

  padding: 15px;
}

.my-card:after {
  background-color: grey;
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: -1;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  position: absolute;
  display: none;
  background-color: black;
  border-radius: 10px;
  min-width: 150px;

  margin-right: 3px;
  right: 20px;

  z-index: 999;
}
.dropdown-child a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}
.dropdown-child a:hover {
  color: white;
  -webkit-text-shadow: 1px 1px 5px #9daccb;
  -moz-text-shadow: 1px 1px 5px #9daccb;
  -o-text-shadow: 1px 1px 5px #9daccb;
  -ms-text-shadow: 1px 1px 5px #9daccb;
  text-shadow: 1px 1px 5px #9daccb;
}

.dropdown:hover .dropdown-child {
  display: block;
}

a {
  text-decoration: none !important; /* Убирает подчеркивание для ссылок */
}

.toaster-dismiss {
  display: flex;
  flex-direction: row;
}
                                                  
.button-dismiss{
 appearance: none;
 background-color: #FAFBFC;
 border: 1px solid rgba(27, 31, 35, 0.15);
 border-radius: 6px;
 box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
 box-sizing: border-box;
 color: #24292E;
 cursor: pointer;
 display: inline-block;
 font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
 font-size: 14px;
 font-weight: 500;
 line-height: 20px;
 list-style: none;
 padding: 6px 16px;
 position: relative;
 transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 vertical-align: middle;
 white-space: nowrap;
 word-wrap: break-word;
}

.button-dismiss:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-dismiss:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-dismiss:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-dismiss:focus {
  outline: 1px transparent;
}

.button-dismiss:before {
  display: none;
}

.button-dismiss::-webkit-details-marker {
  display: none;
}

.mcolwhite {
    color: white;
}

.my-up {
    top: -200px;
}

.rotated-svg-logo {
    animation: 10s linear infinite rotate;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.logo-404-err {
    opacity: 0.5;
}

.root-div-page {
    display: flex;
    flex-flow: column;
    height: 100vh;
}